body{
    background-color: rgb(155, 228, 255);
    text-align: center;
    padding: 30px 100px;
}
 
.MainContainer{
    background-color: rgba(254, 254, 254, 0.782);
    border: 7px solid white;
    padding: 15px 50px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px; 
}
 
.menu1{
    display: flex;
    justify-content: center;
}
 
.menuButton{
    margin: 2px 5px;
    padding: 3px 6px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px; 
    background-color: rgb(143, 247, 221);
    width: 100px;
}
 
.menuButton:hover{
    background-color: rgb(28, 239, 186);
}
